<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Enter page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/newMain.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <script th:inline="javascript">
        $(document).ready(function () {

            let finalChatRoom = '';
            let userName = [[${userName}]];
            $('#create').on('click', function () {
                window.open('/prepareroom?name=' + userName, "show-popup","width=660,height=700", false);
            });

            $('.tr-chat').on('click', function () {
                let cChatRoom = $(this).find('.room-name').text();

                finalChatRoom = cChatRoom;

                let data = {
                    roomName: finalChatRoom
                };
                let Jdata = JSON.stringify(data);

                $.ajax({
                    url: "/findroom",
                    method: "post",
                    data: Jdata,
                    contentType: "application/json"
                })
                    .done(function (data) {
                        console.log(data);
                        let chatRoomVO = data;

                        location.href = "/chatroom?name=" + userName + "&roomName=" + chatRoomVO.roomName + "&roomId=" + chatRoomVO.roomId;
                    })
                    .fail(function () {
                        console.log("네트워크 오류로 인해 채팅 방 찾기 실패!");
                    })
            });

        });
    </script>
</head>

<body>
<div>
    <h2 th:text="|어서오세요, ${userName} 님!|"></h2>
</div>
<div id="mario-chat">
    <div id="first-window">
        <div th:if="${length==0}">
            <span>진행중인 채팅방이 없습니다</span>
        </div>

        <div th:if="${length!=0}">
            <table class="table table-striped">
                <thead >
                <tr>
                    <td scope="col">채팅방 이름</td>
                    <td scope="col">방장</td>
                    <td scope="col">개장 날짜</td>
                </tr>
                </thead>

                <tbody>
                <tr th:each="listVO: ${chatList}" class="tr-chat">
                    <td class="room-name" scope="row" th:text="${listVO.roomName}"></td>
                    <td scope="row" th:text="${listVO.leaderName}"></td>
                    <td scope="row" th:text="${listVO.time}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <form>
        <button type="button" class="make_btn" id="create">방만들기</button> <!--일단 여기 페이지 넘어갈까봐 버튼 타입에 button 넣어둠 -->
    </form>

</div>

</body>
</html>