<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>방만들기</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/newMain.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

</head>

<body>
<div id="mario-chat">
    <div id="first-window">
        <div>Get ready to make chat room...</div></br>
        <div>만들어질 방의 이름을 정해주세요</div>
    </div>
    <form >
        <input type="text" id="roomname" name="roomname" placeholder="room name here">
        <input type="hidden" id="leadername" name="leadername" th:value="${userName}">
        <button type="button" class="make_btn" id="finish">Finish</button> <!--일단 여기 페이지 넘어갈까봐 버튼 타입에 button 넣어둠 -->
    </form>
</div>

<script type="text/javascript" src="/popUp.js"></script>
</body>
</html>